img {
    width: 500px;
    
}

.bruh {
    width: 200px;
    height: 250px;
    text-align: center;
    font-size: x-large;
    margin: 30px;
}
body {
    background-color: #de405a;
}
li {
    list-style: none;
}